body {
  background: linear-gradient(180deg, #1b0a04, #000);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: #f3f3f3;
  padding: env(safe-area-inset);
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #e57b4e;
}

.profile-pic {
  width: 100%; 
  object-fit:contain;
  margin: auto;
  border-radius: 2%;
}

.carrot {
  width: 0.1vh;
  object-fit: cover;
  color:#5b88cb;
}

.rounded {
  border-radius: 0.4rem;
  box-shadow: 0 0px 30px #b84611;
}

.rounded-card {
  border-radius: 0.4rem;
  box-shadow: 0 0px 50px hsl(13, 82%, 31%);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(7px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

