body {
  background: linear-gradient(180deg, #472109, #140905); 
  color: #f3f3f3;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}

.profile-pic {
  width: 30vh; 
  height: 30vh; 
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic-border {
  width: 30.5vh;  
  height: 30.5vh; 
  max-width: 205px;
  max-height: 205px;
  object-fit: cover;
  border-radius: 50%;
}

.carrot {
  width: 0.1vh;
  object-fit: cover;
  color:#5b88cb;
}


/*
.navbar-nav .nav-item .nav-link:hover {
  color: #080f18;
  background-color: white;
  border-radius: 30px;
  padding-block: 0.05rem;
  padding-inline: 0.5rem;
  transition: "color 0.3s";
  transition: "background-color 0.3s";
  transition: "padding-block 0.3s";
  transition: "padding-inline 0.3s";
}
  */